<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>PROJECT 1 Website IS601</title>
    {% endblock %}

</head>
<body background="https://wallpapercave.com/wp/wp6784386.jpg">
<div class="container">
    <div class="row">
        <header class="p-1 mb-5">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">My First Project Site</a>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="/bdata" class="nav-link">Big Data</a></li>
                        <li class="nav-item"><a href="/dbms" class="nav-link">DBMS</a></li>
                        <li class="nav-item"><a href="/python" class="nav-link active">Python</a></li>
                        <li class="nav-item"><a href="/r_prog" class="nav-link">R-programming</a></li>
                    </ul>
                    <!--  <ul class="navbar-nav  nav-pills">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/about">About</a>
                          </li>
                      </ul>-->
                </div>
            </nav>
        </header>
    </div>

    <div class=" bluish row">
        <h1>Python</h1>
    </div>
    <div class="row">
        <p>
            <strong>What is Python?</strong>
        </p>
        <p>The database management system not only aids in the effective storage of data, but also in the sharing of
            data throughout the business. Programmers, system administrators, and end-users are all involved in such an
            environment. There are five components in a database environment: data, hardware, software, people, and
            procedures. Multiple users can easily access the data and share it with other users without having to go
            through any additional steps. In only a few seconds, the system can assist you find the information you need
            from a big database. As a result, managing various sorts of data, such as student records, employee
            information, inventory, payroll, project management, and so on, is extremely effective for organizations.
        </p>
        <p></p>
        <p><strong>What is Python used for?</strong>
        </p>
        <p></p>
        <p>Python is widely used for web and software development, task automation, data analysis, and data
            visualization. Python has been used by many non-programmers, such as accountants and scientists, for a
            variety of common tasks, such as arranging finances, due to its relative ease of learning.
        </p>
        <p>In his book Python for Everyone, Charles R Severance, a University of Michigan and Coursera instructor,
            notes, "Writing programs is a really creative and fulfilling hobby." "You can build programs for a variety
            of purposes, including making a living, solving a challenging data analysis challenge, having fun, and
            assisting others in solving problems."
        </p>
        <p> • <strong> Data analysis and machine learning</strong>
        </p>
        <p></p>
        <p>Python has become a data science standard, allowing data analysts and other professionals to perform complex
            statistical computations, produce data visualizations, design machine learning algorithms, handle and
            analyze data, and perform other data-related tasks using the language.
        </p>
        <p> Python can create a variety of data visualizations, including line and bar graphs, pie charts, histograms,
            and three-dimensional plots. TensorFlow and Keras are two Python frameworks that let programmers construct
            data analysis and machine learning systems more rapidly and efficiently.
        </p>
        <p></p>
        <p> •<strong> Web development</strong>
        </p>
        <p></p>
        <p>Python is frequently used to create a website's or application's back end—the elements that the user doesn't
            see. Sending data to and from servers, processing data and interfacing with databases, URL routing, and
            ensuring security are all examples of Python's role in web development. Python has a number of web
            development frameworks. Django and Flask are two popular ones.
        </p>
        <p>Back end engineers, full stack engineers, Python developers, software engineers, and DevOps engineers are
            some of the web development positions that require Python.
        </p>
        <p></p>
        <p> •<strong>Automation or scripting</strong>
        </p>
        <p>If you find yourself repeating a task frequently, automating it with Python can help you work more
            efficiently. Scripting is the process of writing code that is used to create these automated procedures.
            Automation can be used to check for flaws across numerous files, convert files, perform simple math, and
            delete duplicates in data in the coding industry.
        </p>
        <p>Relative amateurs can use Python to automate simple computer chores like renaming files, discovering and
            downloading internet information, and sending emails or SMS at predetermined intervals.
        </p>
        <p></p>
        <p><strong>Why is Python so popular?</strong>
        </p>
        <p>Python is popular for a number of reasons. Here’s a deeper look at what makes it so versatile and easy to use
            for coders.
        </p>
        <p> • It has a <strong>simple</strong>syntax that mimics natural language, so it’s easier to read and
            understand. This makes it quicker to build projects, and faster to improve on them.
        </p>
        <p> • It’s <strong>versatile</strong>. Python can be used for many different tasks, from web development to
            machine learning.
        </p>
        <p> • It’s <strong>beginner friendly</strong>, making it popular for entry-level coders
        </p>
        <p> • It’s <strong>open source</strong>, which means it’s free to use and distribute, even for commercial
            purposes.
        </p>
        <p> • Python’s archive of <strong>modules and libraries—bundles</strong> of code that third-party users have
            created to expand Python’s capabilities—is vast and growing.
        </p>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!--
    <div id="main_header" class="bluish" >
        <h1>Classwork 10th Feb-Webpage</h1>
    </div>
    <div id="main_contain" class="contain">
        <div id="information" class="current">
            <p>Student Name: {{ name }}</p>
            <p>College: {{ school }}</p>
            <p>Enrolled For: {{ edu }}</p>
            <p>Specialization In: {{ Specs }}</p>
        </div>
        <div id="image" class="pic">
            <img src="https://0.academia-photos.com/23631166/16350915/16737134/s200_sagar.alande.jpg" alt="Sagar Alande">
        </div>
    </div>
    <div id="main_header" class="bluish" >
        <h1>Classwork 17th Feb-Webpage</h1>
    </div>
    <div id="bootstrap-info" class="contain">

    </div>
    -->
</div>
</body>
</html>
