<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>This is {{ name }} Website</title>
    {% endblock %}

</head>
<body background="https://wallpapercave.com/wp/wp6784386.jpg">
<div class="container">
    <div class="row">
        <header class="p-1 mb-5">
            <nav class="navbar navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">My First Project Site</a>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
                        <li class="nav-item"><a href="/Bdata" class="nav-link">Big Data</a></li>
                        <li class="nav-item"><a href="/DBMS" class="nav-link">DBMS</a></li>
                        <li class="nav-item"><a href="/python" class="nav-link">Python</a></li>
                        <li class="nav-item"><a href="/R-prog" class="nav-link active">R-programming</a></li>
                    </ul>
                    <!--  <ul class="navbar-nav  nav-pills">
                          <li class="nav-item">
                              <a class="nav-link active" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="/about">About</a>
                          </li>
                      </ul>-->
                </div>
            </nav>
        </header>
    </div>

    <div class=" bluish row">
        <h1>R-Programming</h1>
    </div>
    <div class="row">
        <p>
            <strong>Introduction</strong>
        </p>
        <p>R is a programming language that is free and open source. It was created in August 1993 by Roass Ihaka and Robert Gentleman. And they chose the name for this language based on the initial letter of their names. The R-Programming language was named after this, and the stable version was launched in December 2018.
        </p>
        <p>R is the most popular language in the world of Data Science. It is heavily used in analyzing data that is both structured and unstructured. This has made R, the standard language for performing statistical operations. R allows various features that set it apart from other Data Science languages. In this article, we will explain why you must learn R and how it will benefit you in the domain of Data Science.</p>
        <p></p>
        <p><strong>Why Learn R Programming?</strong>
        </p>
        <p></p>
        <p>R plays a very important role in Data Science, you will be benefited with following operations in R.
        </p>
        <p> • <strong>You can run your code without any compiler </strong>R is an interpreted language. Hence we can run code without any compiler. R interprets the code and makes the development of code easier.
        </p>
        <p> • <strong>Many calculations done with vectors </strong>R is a vector language, so anyone can add functions to a single Vector without putting in a loop. Hence, R is powerful and faster than other languages.
        </p>
        <p> • <strong>Statistical Language </strong> R used in biology, genetics as well as in statistics. R is a turning complete language where any type of task can perform.
        </p>
        <p></p>
        <p>
            <strong>Importance of R Programming Language</strong>
        </p>
        <p></p>
        <p>  •R is a well-designed, straightforward, and powerful programming language. Conditional loops, user-defined recursive functions, and input and output capabilities are all included.
        </p>
        <p>  •R has <strong>graphical tools</strong> for data processing and visualization.
        </p>
        <p>  •R is a <strong>very adaptable programming language</strong>. It is not necessary to carry out all of your calculations in R. Other tools, such as C and C++, can be used if necessary.
        </p>
        <p>  •R features a <strong>powerful data handling and storing system</strong>.
        </p>
        <p>  •R provides a comprehensive, well-coordinated, and well-integrated set of data analysis capabilities.
        </p>
        <p>  •R also has a package system that allows users to add their own functionality that is indistinguishable from R's core capabilities.
        </p>
        <p></p>
        <p>
            <strong>Advantages and Disadvantages of R Programming</strong>
        </p>
        <p></p>
        <p>
            <strong>Pros of R Language</strong>
        </p>
        <p>  •R is <strong>the most comprehensive statistical analysis package</strong>, as new technology and ideas often appear first in R.
        </p>
        <p>  •R is an <strong>open-source</strong> that’s why you can run R anywhere any time, and even sell it under conditions of the license.
        </p>
        <p>  •It is <strong>cross-platform</strong> which runs on many operating systems. It’s best for GNU/Linux and Microsoft Windows.
        </p>
        <p>  •In R, everyone is welcomed to provide bug fixes, code enhancements, and new packages.
        </p>
        <p></p>
        <p>
            <strong>Cons of R Language</strong>
        </p>
        <p>  •The quality of some packages in R is <strong>less than perfect</strong>.
        </p>
        <p>  •There’s <strong>no customer support</strong> of R Language whom you can complain if something doesn’t work.
        </p>
        <p>  •R commands hardly concerns over memory management, and so <strong>R can consume all the available memory</strong>.
        </p>
        <p>
        </p>
<p>
    Today, data science is the most widely used technology on the planet. R is the lingua franca of this area, as it is primarily made of statistics. We talked over the different reasons why learning R is the best way to master Data Science. Finally, we conclude that mastering R will provide you with numerous advantages, including the ability to cope with massive amounts of data. in the data science world! R is used by some of the industry's biggest names, like Google, LinkedIn, and Facebook, for many of their operations.
</p>

    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!--
    <div id="main_header" class="bluish" >
        <h1>Classwork 10th Feb-Webpage</h1>
    </div>
    <div id="main_contain" class="contain">
        <div id="information" class="current">
            <p>Student Name: {{ name }}</p>
            <p>College: {{ school }}</p>
            <p>Enrolled For: {{ edu }}</p>
            <p>Specialization In: {{ Specs }}</p>
        </div>
        <div id="image" class="pic">
            <img src="https://0.academia-photos.com/23631166/16350915/16737134/s200_sagar.alande.jpg" alt="Sagar Alande">
        </div>
    </div>
    <div id="main_header" class="bluish" >
        <h1>Classwork 17th Feb-Webpage</h1>
    </div>
    <div id="bootstrap-info" class="contain">

    </div>
    -->
</div>
</body>
</html>
